<ng-container *ngIf="(contact$ | async) as contact; else loading">
    <h1>{{ contact.firstName }} {{ contact.lastName}}</h1>
    <ul>
        <li>{{ contact.email }}</li>
        <li>{{ contact.phone }}</li>
    </ul>
</ng-container>
<ng-template #loading>Loading…</ng-template>